<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="static/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="mainBox">
        <div class="text">
            <h1>Who are We?</h1>
            <h2>Community serving to people affected with cyber bullying</h2>
            <p>
                Making the internet a great and safe place for children and young people. This platform is designed to help individuals to 
                tackle cyberbullying and harassment.
            </p>
            <p>
                Our Platform aims to be a bridge between the victims and the authorities as well as we have connections to several experts, 
                private and public both, who fight against these social issues. Proper help is provided to the victims and we even have blogs 
                and news of success stories against Cyber Bullying to boost the confidence of the victim and assure them that they will get justice.
            </p>
            <p>
                Our goal to empower individuals as well as the whole community to take control of their online experience and create a safer, 
                more positive environment for everyone. We believe that everyone has the right to feel safe and respected online, and we are 
                committed to providing the support and resources necessary to help make that a reality.
            </p>
        </div>
        <div class="socialIcons">
            <i class="fa-brands fa-instagram fa-2x" id="instagram"></i>
            <i class="fa-brands fa-facebook fa-2x" id="facebook"></i>
            <i class="fa-brands fa-twitter fa-2x" id="twitter"></i>
            <a href="/"><i class="fa-solid fa-house fa-2x"></i></a>
            <!-- <i class="fa-solid fa-house fa-2x"></i> -->
            <!-- <div class="text sign-up-text"><a href="index.html"></a></div> -->
        </div>
    </div>
    <script src="static/scripts/about.js"></script>
</body>
</html>