<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="static/css/chat.css">
    <link rel="stylesheet" href="static/css/blog.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Cyber Bully</h2>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="/blog"><i class="fas fa-user"></i>Blogs</a></li>
                <!-- <li><a href="#chatWindow"><i class="fas fa-project-diagram"></i>Chat</a></li> -->
                <li><a href="/complain" id="move"><i class="fas fa-project-diagram"></i>Complaint</a></li>
                <li><a href="/user"><i class="fas fa-blog"></i>Login</a></li>
                <li><a href="/about"><i class="fas fa-address-card"></i>About</a></li>
                <li><a href="/query"><i class="fas fa-facebook-f"></i>Chat</a></li>

          
            </ul>  
            <div class="social_media">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="main_content">
            <div class="header">BLOGS
            </div>
            <div class="bg">
                <h3 class="bg1">What is Cyberbullying?</h3>
                <p><i>Cyberbullying includes sending, posting, or sharing negative, harmful, false, or mean content about 
                    someone else. It can include sharing personal or private information about someone else causing 
                    embarrassment or humiliation. Some cyberbullying crosses the line into unlawful or criminal behavior.</i><br>
                    <br>The most common places where cyberbullying occurs are:<br>
                    <br> &bull; Social Media, such as Facebook, Instagram, Snapchat, and Tik Tok
                    <br> &bull; Text messaging and messaging apps on mobile or tablet devices
                    <br> &bull; Instant messaging, direct messaging, and online chatting over the internet
                    <br> &bull; Online forums, chat rooms, and message boards, such as Reddit
                    <br> &bull; Email
                    <br> &bull; Online gaming communities
                </p>
            </div>  
            <div class="cardBox">
                <div class="box">
                    <h2 class="boxHead">
                        What is cyberbullying and what can I do about it?
                    </h2>
                    <img class="first" src="https://www.webpurify.com/site/wp-content/uploads/2021/06/xcomputer-HatticeEROL-Pixabay-1-1024x618.png.pagespeed.ic.EFT8saKAI7.png" alt="">
                    <p>Online bullying can make people feel alone, isolated and like there is no escape from it, but there are things <span id="dots1">...</span>
                        <span id="more1">that can be done to help you and places to go for help. In this blog we give some really useful advice about the things 
                        you can do if someone is bullying you (or one of your friends) online.
                        <a href="https://www.childnet.com/blog/what-is-cyberbullying-and-what-can-i-do-about-it/">continue reading</a></span></p>
                    <button onclick="myFunction1()" id="myBtn1">Read more</button>
                </div>
                <div class="box">
                    <h2 class="boxHead">
                        Cyberbullying advice for parents!
                    </h2>
                    <img src="https://www.verywellfamily.com/thmb/LbolUVyqyQyEtWxGJ4D4InRpDNA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-prevent-cyberbullying-5113808-regular-FINAL-c4b787d8143f472a88874837efc76a9d.png" alt="">
                    <!-- <img src="http://thesoftcopy.in/wp-content/uploads/2021/12/Cyber-Stalking.jpg" alt=""> -->
                    <p>Online bullying can make young people feel alone, isolated and like there is no escape from it, but  
                        <span id="dots2">...</span><span id="more2">there are things that can be done to help and places they can go for help. In 
                        this blog we look at the things that parents and carers can do to support a young person who has experienced cyberbullying.
                        <a href="https://www.childnet.com/blog/cyberbullying-advice-for-parents-and-carers1/">continue reading</a></span></p>
                    <button onclick="myFunction2()" id="myBtn2">Read more</button>
                </div>
                <div class="box">
                    <h2 class="boxHead">
                        What can a college student do if they are cyberbullied?
                    </h2>
                    <img src="https://nmhp.mohp.gov.eg/mental/web/sites/default/files/inline-images/depressed-woman-sitting-with-phone-in-front-of-laptop-screen-surrounded-by-message-bubbles-cyber-bullying-in-social-networks-and-online-abuse-concept-flat-cartoon-illustration-vector.jpg" alt="">
                    <p>As students grow up with technology involved in every part of their lives, cyberbullying has become a  
                        <span id="dots3">...</span><span id="more3">common way to harass someone. Although usually viewed as 
                            a problem with younger children and teens, university-aged young adults also experience this serious problem.
                            <a href="https://www.endcyberbullying.net/blog/what-can-you-do-if-you-are-a-victim-of-cyberbullying-as-a-college-student">continue reading</a></span></p>
                    <button onclick="myFunction3()" id="myBtn3">Read more</button>
                </div>
            </div>
            <div class="cardBox">
                <div class="box">
                    <h2 class="boxHead">
                        A teen's view on cyberbullying
                    </h2>
                    <img class="fourth" src="https://sushantuniversity.edu.in/blog/wp-content/uploads/2022/12/cyberbullying001-768x351.jpg" alt="">
                    <p>The world evolves and upgrades itself in every way possible. For example technology, everything in our  
                        <span id="dots4">...</span><span id="more4"> lives revolves around technology. It could be a search engine, 
                        a media player, games, entertainment, resources etc.
                        <a href="https://sushantuniversity.edu.in/blog/a-teens-view-on-cyberbullying/">continue reading</a></span></p>
                    <button onclick="myFunction4()" id="myBtn4">Read more</button>
                </div>
                <div class="box">
                    <h2 class="boxHead">
                        What to do if your child is a cyberbully?
                    </h2>
                    <img src="http://thesoftcopy.in/wp-content/uploads/2021/12/Cyber-Stalking.jpg" alt="">
                    <p>Cyberbullying is growing at an alarming rate. As much as no parent wants to see their child bullied, 
                        it is  
                        <span id="dots5">...</span><span id="more5">equally distressing to learn that they are the ones attacking, trolling, or harassing other kids online. 
                            More children and teens than ever before take their issues online, and this results in more cruel behavior
                        <a href="https://www.endcyberbullying.net/blog/what-to-do-if-your-child-is-a-cyberbully">continue reading</a></span></p>
                    <button onclick="myFunction5()" id="myBtn5">Read more</button>
                </div>
                <div class="box">
                    <h2 class="boxHead">
                        10 Facts about CYBERBULLYING!
                    </h2>
                    <img class="sixth" src="https://img.freepik.com/premium-vector/internet-criticism-flat-style-illustration_538610-366.jpg" alt="">
                    <p>Cyberbullying has reached new levels as more young people spend the bulk of their time on the internet.   
                        <span id="dots6">...</span><span id="more6">It has almost become a rite of passage. If you are a teenager, 
                        you are probably either a perpetrator or a victim. Only recently has cyberbullying been considered a 
                        real problem. Unfortunately, there is still a debate on whether it counts as bullying at all. When you 
                        look at the facts, you can come to your own conclusions. Cyberbullying is a huge problem that affects 
                        far too many children, teens, and adults all around the world.
                        <a href="https://www.endcyberbullying.net/blog/10-facts-about-cyberbullying">continue reading</a></span></p>
                    <button onclick="myFunction6()" id="myBtn6">Read more</button>
                </div>
            </div>
            <div>
                <h3 class="link">Read More Articles</h3>
                <p class="readmore">
                    <br> &bull; <a href="https://www.endcyberbullying.net/blog/what-can-schools-do-to-help-with-cyberbullying">What can Schools do to help with Cyberbullying</a>
                    <br> &bull; <a href="https://www.endcyberbullying.net/blog/are-online-bullying-and-school-bullying-connected">Are online bullying and school bullying connected?</a>
                    <br> &bull; <a href="https://www.childnet.com/blog/how-to-support-young-people-who-encounter-upsetting-content-online/">How to support young people who encounter upsetting content online</a>
                    <br> &bull; <a href="https://www.childnet.com/blog/how-to-support-young-people-who-encounter-upsetting-content-online/https://www.childnet.com/blog/cyberbullying-resources-for-parents-and-teachers/">Cyberbullying resources for parents and teachers</a>
                    <br> &bull; <a href="https://www.childnet.com/blog/help-stop-bullying-and-use-the-power-of-the-internet-for-good/">Help stop bullying - and use the power of the internet for good!</a>
                    <br> &bull; <a href="https://www.childnet.com/blog/stand-up-to-bullying-with-our-top-tips/">Stand up to bullying with our top tips!</a>
                </p>
            </div>
            <!-- <div class="cardBox">
                <div class="box" id="complain">
                    Complain box
                    Submit only after login/signUp
                </div>
            </div>
          </div>
        </div> -->
    

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="static/scripts/responses.js"></script>
<script src="static/scripts/chat.js"></script>
<script src="static/scripts/index.js"></script>

</html>