<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/complaint.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bully Block</title>
   </head>

   <body>
    <div class="container">
      <!-- div class="cover">
          <div class="front">
            <img src="static/images/new.png" alt="">
             <div class="text">
              <span class="text-1">
                Cyber Bullying is a crime</span>
              <span class="text-2">Raise your voice!</span>
            </div>
          </div>
        </div--> 
        <div class="forms">
            <div class="form-content">
              <div class="complaint-form">
                <div class="title">Complaint</div>
          <form enctype="multipart/form-data" action="/form" method="post">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-pencil-alt"></i>
                <input name="name" type="text" placeholder="Enter your Full Name" required>
              </div>

            <div class="input-boxes">
               <div class="input-box">
                  <i class="fas fa-pencil-alt"></i>
                  <input name="age" type="text" placeholder="Enter your Age" required>
                </div>

            <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-pencil-alt"></i>
                  <input name="email" type="text" placeholder="Enter your Email" required>
                </div>

            <div class="input-boxes">
                <div class="input-box">
                    <i class="fas fa-pencil-alt"></i>
                    <input name="phone" type="text" placeholder="Enter your Phone number" required>
                </div>

            <div class="input-boxes">
                <div class="input-box">
                    <i class="fas fa-pencil-alt"></i>
                    <input name="description" type="text" placeholder="Description" required>
                 </div>

            <div class="input-boxes">
                <div class="input-box">
                    <i class="fas fa-pencil-alt"></i>
                    <input name="image" class="file-upload-input" type="file" onchange="readURl(this)" accept="Image/*" >
                </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div class="button input-box">
                <input type="submit" value="Sumbit">
            </div>
            </form>
            </div>
            </div>
            </div>
            <div class="sign-up-text">Go back to <a href="/">Home</a></div>
            
    
    </body>
    </html>
    