@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins" , sans-serif;
  scroll-behavior: smooth;
}

/* html {
  scroll-behavior: smooth;
  font-family: Helvetica, sans-serif, Arial;
} */

body{
  background-color: #3AAFA9;
  /* background-color: #f3f5f9; */
  margin: 0 auto;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #17252A;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #DEF2F1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #fff;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #2B7A78;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #2B7A78;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #3AAFA9;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  /* border: 10px solid black; */
  /* color: #717171; */
  /* border-bottom: 1px solid #e0e4e8; */
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.main_content p{
  padding: 5%;
}
  


.cardBox{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DEF2F1;
  border: 2px solid black;
  border-radius: 7px;
  margin: 5px;
  padding: 27px;
  height: 50%;
  width: 35%;
  
}
.box h2{
  text-align: center;
  padding-bottom: 8px;
}
.box img{
  width: 90%;
}

.first
{
  height: 206px;
}

.fourth, .sixth
{
  height: 188px;
}

#complain{
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .cardBox{
    flex-direction: column;
  }
  .box{
    width: 100%;
  }
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}

#myBtn1, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6 {
  margin-left: 250px;
  padding: 5px;
  cursor: pointer;
  background: #DEF2F1;
  border: none;
  font-style: italic;
  font-weight: bold;
}

#more1, #more2, #more3, #more4, #more5, #more6 {
  display: none;
}

/* .header {
  font-weight: bold;
  text-align: center;
  font-size: larger;
  color: Black;
} */

.bg1 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: -40px;
}

.link {
  margin-top: 40px;
  margin-left: 65px;
  margin-bottom: -40px;
}

.bg {
  border: 2px solid black;
  border-radius: 7px;
  margin: 20px;
  background-color: #DEF2F1;
  border-width: 3.5px;
}

.readmore {
  margin-top: -70px;
}