body {
    background-color: #3AAFA9;
  }
  
  .box {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: white;
  }
  
  h3 {
    color: #3AAFA9;
  }
  
  p {
    color: #555555;
  }
  